{include file="common/head"}
<div class="admin-main fadeInUp animated">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>店铺编辑</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">
        <div class="layui-tab-content">
            <div class="layui-form-item">
                <label class="layui-form-label">店铺名称</label>
                <div class="layui-input-4">
                    <input type="text" name="name" value="{$info.name}" lay-verify="required" placeholder="请输入店铺名称" class="layui-input" autocomplete="off">
                </div>
                <div class="layui-form-mid layui-word-aux">*必填 请务必检查店铺名称，不要有多余的字符比如空格</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">店铺编号</label>
                <div class="layui-input-4">
                    <input type="text" name="tb_shop_id" value="{$info.tb_shop_id}" lay-verify="required" placeholder="请输入店铺编号" class="layui-input" autocomplete="off">
                </div>
                <div class="layui-form-mid layui-word-aux">*必填 淘宝店铺ID</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">旺旺号</label>
                <div class="layui-input-4">
                    <input type="text" name="ww_number" value="{$info.ww_number}" lay-verify="required" placeholder="请输入旺旺号" class="layui-input" autocomplete="off">
                </div>
                <div class="layui-form-mid layui-word-aux">*必填 请务必检查旺旺号，不要有多余的字符比如空格</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">店铺链接</label>
                <div class="layui-input-4">
                    <input type="text" name="shop_url" value="{$info.shop_url}" lay-verify="required" placeholder="请输入店铺链接" class="layui-input" autocomplete="off">
                </div>
                <div class="layui-form-mid layui-word-aux">*必填 <a style="color:#f00;" href="{$info.shop_url}" target="_blank">点击跳转</a></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">店铺类型</label>
                <div class="layui-input-4">
                    <select lay-verify="required" name="shop_type">
                        <option value=''>请选择</option>
                        {volist name="linkage.shop_type" id="vo"}
                        <option value="{$key}" {if $info.shop_type==$key}selected{/if}>{$vo}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">店铺类目</label>
                <div class="layui-input-4">
                    <select lay-verify="required" name="cat_id">
                        <option value=''>请选择</option>
                        {volist name="shop_cate" id="vo"}
                        <option value="{$key}" {if $info.cat_id==$key}selected{/if}>{$vo}</option>
                        {/volist}
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$info.id}"/>
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
                <a href="{:url('Shop/shopList')}" class="layui-btn layui-btn-primary">返回列表</a>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form, $ = layui.jquery
        //提交
        form.on('submit(submit)', function (data) {
            loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post("", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                        location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
    });
</script>
{include file="common/foot"}