{include file="common/head"/}

<style>
    .edui-editor{z-index: 1!important;}
</style>
<script>
    var UPURL = "{:url('UpFiles/upImages')}";
    var PUBLIC = "__PUBLIC__";
    var imgClassName,fileClassName;
</script>
<script src="__STATIC__/common/js/jquery.2.1.1.min.js"></script>
<script>
    var edittext=new Array();
</script>
<script src="__STATIC__/ueditor/ueditor.config.js" type="text/javascript"></script>
<script src="__STATIC__/ueditor/ueditor.all.js" type="text/javascript"></script>


<link rel="stylesheet" href="__STATIC__/layuiadmin/style/global.css" media="all">
<div class="admin-main fadeInUp animated">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>新增/编辑公告</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">


        <div class="layui-form-item">
            <label class="layui-form-label">公告标题</label>
            <div style="width:400px;" class="layui-input-inline">
                <input type="text" name="title" value="{$info.title}" lay-verify="required" placeholder="请输入公告标题" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">*必填</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">公告类型</label>
            <div class="layui-input-inline">
                <select name="type" lay-verify="required">
                    {foreach name="linkage.type" key="key" item="item"}
                    <option {if condition="$info.type eq $key"} selected {/if}  value="{$key}">{$item}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">公告平台</label>
            <div class="layui-input-inline">
                <select name="platform" lay-verify="required">
                    {foreach name="linkage.platform" key="key" item="item"}
                    <option {if condition="$info.platform eq $key"} selected {/if} value="{$key}">{$item}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">公告链接</label>
            <div style="width: 400px;" class="layui-input-inline">
                <input type="text" name="url" value="{$info.url}" placeholder="公告链接" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">开始时间</label>
            <div style="width:400px;" class="layui-input-inline">
                <input type="text" id="begin_time" name="begin_time" value="{if $info.begin_time}{$info.begin_time|date='Y-m-d H:i:s',###}{/if}"  placeholder="开始时间" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">结束时间</label>
            <div style="width:400px;" class="layui-input-inline">
                <input type="text" id="end_time" name="end_time" value="{if $info.end_time}{$info.end_time|date='Y-m-d H:i:s',###}{/if}"  placeholder="结束时间" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公告内容</label>
            <div class="layui-input-inline">
                <textarea lay-verify="required" id="content" name="content"  placeholder="">{$info.content}</textarea>
            </div>
            <div class="layui-form-mid layui-word-aux">*必填</div>
            <script>
                var options = {
                    initialFrameWidth:850, //初化宽度
                    initialFrameHeight: 250, //初化高度
                }
                var editor = new UE.ui.Editor(options);
                editor.render("content");
            </script>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select name="status">
                    {foreach name="linkage.status" key="key" item="item"}
                    <option {if condition="$info.status eq $key"} selected {/if} value="{$key}">{$item}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$info.id}"/>
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
                <a href="{:url('Message/msgList')}" class="layui-btn layui-btn-primary">返回列表</a>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer','laydate'], function () {
        var form = layui.form, layer = layui.layer,$= layui.jquery;
        var laydate=layui.laydate;
        var start={
            elem: '#begin_time',
            type:'datetime',
            trigger: 'click',
        }

        var end={
            elem: '#end_time',
            type:'datetime',
            trigger: 'click',
        }

        laydate.render(start);
        laydate.render(end);

        form.on('submit(submit)', function (data) {
            var loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                        location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        })
    });
</script>

{include file="common/foot"/}