{include file="common/head"/}
<div class="admin-main fadeInUp animated">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>任务审核/查看</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label style="width: 130px;" class="layui-form-label">任务编号</label>
            <div class="layui-input-4">
                <input type="text" name="task_sn" value="{$info.task_sn}" lay-verify="required" disabled class="layui-input layui-input-bj">
            </div>
            <div class="layui-form-mid layui-word-aux red"></div>
        </div>
        <div class="layui-form-item">
            <label style="width: 130px;" class="layui-form-label">责任人</label>
            <div class="layui-input-4">
                <input type="text" name="superior_name" value="{$info.superior_name}" lay-verify="required" disabled class="layui-input layui-input-bj">
            </div>
            <div class="layui-form-mid layui-word-aux red"></div>
        </div>
        <div class="layui-form-item">
            <label style="width: 130px;" class="layui-form-label">团队负责人</label>
            <div class="layui-input-4">
                <input type="text" name="tuan_user_name" value="{$info.tuan_user_name}" lay-verify="required" disabled class="layui-input layui-input-bj">
            </div>
            <div class="layui-form-mid layui-word-aux red"></div>
        </div>
        <div class="layui-form-item">
            <label style="width: 130px;" class="layui-form-label">业务员</label>
            <div class="layui-input-4">
                <input type="text" name="user_name" value="{$info.user_name}" lay-verify="required" disabled class="layui-input layui-input-bj">
            </div>
            <div class="layui-form-mid layui-word-aux red"></div>
        </div>
        <div class="layui-form-item">
            <label style="width: 130px;" class="layui-form-label">分配时间</label>
            <div class="layui-input-4">
                <input type="text" name="create_time" value="{$info.create_time}" disabled lay-verify="required" placeholder="" class="layui-input layui-input-bj">
            </div>
            <div class="layui-form-mid layui-word-aux red"></div>
        </div>
        <div class="layui-form-item">
            <label style="width: 130px;" class="layui-form-label">任务金额</label>
            <div class="layui-input-4">
                <input type="text" name="total_price" value="{$info.total_price}" lay-verify="required" disabled class="layui-input layui-input-bj">
            </div>
            <div class="layui-form-mid layui-word-aux red"></div>
        </div>
        <div class="layui-form-item">
            <label style="width: 130px;" class="layui-form-label">实际下单金额</label>
            <div class="layui-input-4">
                <input type="text" name="down_price" value="{if $info.down_price>0}{$info.down_price}{else}{$info.total_price}{/if}" lay-verify="required" disabled class="layui-input layui-input-bj">
            </div>
            <div class="layui-form-mid layui-word-aux red"></div>
        </div>
        <div class="layui-form-item">
            <label style="width: 130px;" class="layui-form-label">实际佣金总额</label>
            <div class="layui-input-4">
                <input type="text" name="actual_money_total" value="{$info.actual_money_total}" lay-verify="required" disabled class="layui-input layui-input-bj">
            </div>
            <div class="layui-form-mid layui-word-aux red">业务员获得佣金总额</div>
        </div>
        <div class="layui-form-item">
            <label style="width: 130px;" class="layui-form-label">备注</label>
            <div class="layui-input-4">
                <textarea name="remarks" class="layui-textarea" id="remarks">{$info.remarks}</textarea>
            </div>
            <div class="layui-form-mid layui-word-aux red"></div>
        </div>
        <div class="layui-form-item">
            <label style="width: 130px;" class="layui-form-label">商品列表：</label>
            <div class="layui-form-mid layui-word-aux red" style="margin-left:10px; color:#f00!important">支持批量修改，填写好所有要更改值，点击后面任意修改按钮即可。</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-10">
                <table id="keyword_diff" class="layui-table">
                    <thead>
                    <tr>
                        <th>主图</th>
                        <th>商品名称</th>
                        <th>店铺名称</th>
                        <th>预付金额</th>
                        <th>下单金额</th>
                        <th>商品SKU</th>
                        <th>商品关键字</th>
                        <th>商品数量</th>
                        <th>佣金</th>
                        <th>淘宝号</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {if $info.order}
                    {volist name="info.order" id="vo"}
                    <tr>
                        <input type="hidden" name="goods[id][]" value="{$vo.id}" />
                        <td><img src="{$vo.goods_pic}" width="50" height="50" /></td>
                        <td>{$vo.goods_name}</td>
                        <td>{$vo.shop_name}</td>
                        <td>{$vo.money}</td>
                        <td><input type="text" lay-verify="int_number" class="layui-input w100" name="goods[down_price][]" value="{if $vo.down_price>0}{$vo.down_price}{else}{$vo.money}{/if}"></td>
                        <td>{$vo.goods_sku}</td>
                        <td>{$vo.keyword}</td>
                        <td>{$vo.goods_num}</td>
                        <td><input type="text" lay-verify="int_number" class="layui-input w100" name="goods[gain_money][]" value="{$vo.gain_money}"></td>
                        <td><input type="text" class="layui-input w100" name="goods[tb_user][]" value="{$vo.tb_user}"></td>
                        <td><input type="text" class="layui-input w100" name="goods[remark][]" value="{$vo.remark}" /></td>
                        <td>{if $info.status==1 || $info.status==2}<a class="layui-btn" lay-submit lay-filter="goods">修改</a>{/if}</td>
                    </tr>
                    {/volist}
                    {/if}
                </table>
            </div>
        </div>
        <div class="layui-form-item">
            <label style="width: 130px;" class="layui-form-label">任务截图</label>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-10">
                <div class="task-pic-list clearfix">
                    {if $task_pic}
                    {volist name="task_pic" id="vo"}
                    <div class="t-item">
                        <div class="pic">
                            <img class="layui-upload-img" src="{$vo.pic}">
                        </div>
                    </div>
                    {/volist}
                    {else}
                    未提交截图
                    {/if}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label style="width: 130px;" class="layui-form-label">状态</label>
            <div class="layui-input-4">
                <input type="text" name="status" value="{$linkage['status'][$info.status]}" lay-verify="required" disabled class="layui-input layui-input-bj">
            </div>
            <div class="layui-form-mid layui-word-aux red"></div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$info.id}"/>
                {if $info.status ==0 || $info.status ==1}
                <button type="button" class="layui-btn" lay-submit="" data-type="4" lay-filter="submit">审核通过</button>
                <button type="button" class="layui-btn layui-btn-danger" lay-submit="" data-type="3" lay-filter="submit">审核不通过</button>
                {/if}
                <a href="{:url('Task/taskList')}" class="layui-btn layui-btn-primary">返回列表</a>
            </div>
        </div>
    </form>

</div>
<img alt="" style="display:none" id="displayimg" src="" />
<script src="__STATIC__/js/jquery.2.1.1.min.js"></script>

<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form, $ = layui.jquery;
        //更新任务商品信息
        form.on('submit(goods)',function(data){
            var data = data.field;
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post("{:url('Task/updateTaskInfo')}",data,function(res){
                layer.close(loading);
                if (res.code == 1) {
                    layer.msg(res.msg, {icon: 1, time: 1000});
                    return false;
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                    return false;
                }
            });
        })
        //提交
        form.on('submit(submit)', function (data) {
            var sub_type = $(this).data('type');
            var remarks = $("#remarks").val();
            var url = "{:url('Task/taskVerify')}";
            if(sub_type==3){
                 if(remarks==''){
                     layer.msg('请填写不通过备注', {time: 1800, icon: 2});
                     return false;
                 }
                url = "{:url('Task/taskCancel')}";
            }
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post(url, data.field, function (res) {
                layer.close(loading);
                if (res.code == 1) {
                    layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                        location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
        //验证
        form.verify({
            int_number: function (value, item) {
                if (value <= 0) {
                    return '只能输入大于0的数字';
                }
            },
            search_str: function (value, item) {
            }
        });

    });



</script>
{include file="common/foot"/}